@import url(http://fonts.googleapis.com/css?family=Kite+One);

$background-color: #f0f0f0;
$main-font-color: #6d6d6d;

body{
	background-color: $background-color;
	color:$main-font-color;
	font-family: 'Kite One', sans-serif;
}

h1{
	font-size: 2em;
}

h2{
	font-size: 0.8em;
}

.content-wrapper{
	width: 100%;
}

.form-wrapper{
	width: 20%;
	margin:0 auto;
}